<footer>
  <div class="container">
    <p>
      <span class="brand">Sword in the Scone</span>
      <span class="brand">Storied Sweets</span>
      <span class="email">
        <a href="mailto:jeannette@swordinthescone.com">jeannette@swordinthescone.com</a>
      </span>
      <!-- <span class="phone">
        212.867.5309
      </span> -->
      <span class="social">
        <!-- <span class="symbol"><a href="#">&#xe264;</a></span> -->
        <!-- <span class="symbol"><a href="#">&#xe227;</a></span> -->
        <span class="symbol"><a href="http://instagram.com/theswordinthescone">&#xe300;</a></span>
        </a>
      </span>
    </p>
  </div>
</footer>
