<footer>
  <div class="container">
    <p>
      <span class="brand">Sword in the Scone</span>
      <span class="brand">Storied Sweets</span>
      <span class="email">
        <a href="mailto:jeannette@swordinthescone.com">jeannette@swordinthescone.com</a>
      </span>
      <!-- <span class="phone">
        212.867.5309
      </span> -->
      <span class="social">
        <!-- <span class="symbol"><a href="#">&#xe264;</a></span> -->
        <!-- <span class="symbol"><a href="#">&#xe227;</a></span> -->
        <span class="symbol"><a href="http://instagram.com/theswordinthescone">&#xe300;</a></span>
        </a>
      </span>
    </p>
    <div class="footnote">
      <div class="pull-left">
        <a href="/siteinfo">About the Site</a>
      </div>
      <div class="pull-right">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
