<div id="header">
  <div class="logo row">
    <div class="col-xs-12">
      <h1>Swerd in der scern!</h1>
      <img height=100 src="http://www.clipartbest.com/cliparts/pc5/pn6/pc5pn6RcB.png">
      <font size="72pt"> &rArr; </font>
      <img height=100 src="http://img1.southernliving.timeinc.net/sites/default/files/image/2010/12/scones/chocolate-cherry-scone-l.jpg">
      <h2>Serdid swerts!</h2>
    </div>
  </div>

  <div class="row divider-row"></div>

  <div class="row navigation">
    <div class="container-fluid">
      <ul class="nav nav-justified">
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>

  <div class="row divider-row"></div>
</div>
