<header>
  <div class="container">
    <div class="logo row">
      <a href="/">
        <div class="col-xs-12">
          <h1>
            <span class="cap">T</span>he
            <span class="cap">S</span>word
            in the
            <span class="cap">S</span>cone
          </h1>
        <img src="/images/logo.jpg" class="img-responsive">
        <h2>STORIED SWEETS</h2>
        </div>
      </a>
    </div>

    <div class="row divider-row"></div>

    <div class="row navigation">
      <div class="container-fluid">
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <!-- <li><a href="/gallery">Gallery</a></li> -->
          <!-- <li><a href="/recipes">Recipes</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</header>
