<header>
  <div class="container">
    <div class="logo row">
      <div class="col-xs-12">
        <h1>
          <a href="/">
            <span class="cap">T</span>he
            <span class="cap">S</span>word
            in the
            <span class="cap">S</span>cone
          </a>
        </h1>
        <img src="/images/logo.jpg" height=40>
        <h2>STORIED SWEETS</h2>
      </div>
    </div>

    <div class="row divider-row"></div>

    <div class="row navigation">
      <div class="container-fluid">
        <ul class="nav nav-justified">
          <li class="about"><a href="/about">About</a></li>
          <li class="contact"><a href="#">Contact</a></li>
          <li class="gallery"><a href="/gallery">Gallery</a></li>
          <li class="recipes"><a href="/recipes">Recipes</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
