<!DOCTYPE html>
{% include html_open.html %}
  <head>
    {% include head.html %}
    <title>{{page.name}} - The Sword in the Scone</title>
  </head>

  <body>
    <div id="wrapper">
    {% include header.html %}
    <main>
      <div class="container">
        <div class="row">
          <div {% if page.sidebar %} class="col-sm-9" {% endif %}>
        		<h1>{{page.name}}</h1>
						{% if page.images %}
              {% if page.images.size == 1 %}
            		<img src="/images/{{page.images[0]}}"
                	class="img-responsive img-thumbnail">
              {% else %}
              	Plural
              {% endif %}
            {% endif %}
            <div class="recipe">{{content}}</div>
          </div>
					{% if page.sidebar %}
						<div class="col-sm-3 hidden-xs sidebar">
							{{page.sidebar | markdownify}}
						</div>
					{% endif %}
        </div>
      </div>
    </main>
    {% include footer.html %}
    </div>
  </body>
</html>
